@using Microsoft.Ajax.Utilities
@model TPO.Web.Models.ScrimRollModel

@{
    ViewBag.Title = "Create a New Roll Receipt";

}
<script src="~/Scripts/validatedate.js"></script>

<script type="text/javascript">
    $(document).ready(function ()
    {
        $("#Cancel").click(function()
        {
            var url = "/ScrimRoll/Details/";
            window.location.href = url;
        });
    });
</script>

@using (Html.BeginForm(Html.BeginForm("Create", "ScrimRoll", FormMethod.Post, new { data_ajax = "false" })))
{
    @Html.AntiForgeryToken()

    <h2>Create a New Roll Receipt</h2>

    <div class="form-horizontal">

        @*@Html.ValidationSummary(true)*@

        <div class="form-group">
            @Html.LabelFor(model => model.Code, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Code)
                @Html.ValidationMessageFor(model => model.Code)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TypeID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TypeID, (SelectList)ViewBag.ScrimType)
                @Html.ValidationMessageFor(model => model.TypeID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateReceived, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.TextBoxFor(model => model.DateReceived, "{0:MM/dd/yyyy}")*@
                <input class="easyui-datebox" name="@Html.NameFor(model => model.DateReceived)" value="@Model.DateReceived" required="required" />
                @*@Html.ValidationMessageFor(model => model.DateReceived)*@
                @Html.ValidationSummary(true)

            </div>
        </div>
        
 
        
        

        <div class="form-group">
            @Html.LabelFor(model => model.Length, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Length) &nbsp;
                @Html.DropDownListFor(model => model.LengthUoMID, (SelectList)ViewBag.LengthUoM)
                @Html.ValidationMessageFor(model => model.Length)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Weight, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Weight) &nbsp;
                @Html.DropDownListFor(model => model.WeightUoMID, (SelectList)ViewBag.WeightUoM)
                @Html.ValidationMessageFor(model => model.Weight)
            </div>
        </div>
        



        <div class="form-group">
            @Html.LabelFor(model => model.TareWeight, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TareWeight) &nbsp;
                @Html.ValidationMessageFor(model => model.TareWeight)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReceivedWeight, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReceivedWeight) &nbsp;
                @Html.ValidationMessageFor(model => model.ReceivedWeight)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @*<input type="submit" value="Create" name="Action" class="btn btn-default" />
                    &nbsp;<input type="button" value="Cancel" id="Cancel" name="Cancel" class="cancel" />*@
                <button class="btn btn-primary btn-shadow"
                        onclick="$(this).parents('form:first').submit(); return false;">
                    <span class="glyphicon glyphicon-floppy-saved"></span>&nbsp;Create
                </button>
                <button class="btn btn-default btn-shadow"
                        onclick="window.location.href = '@Url.Action("Details", "ScrimRoll")';return false;">
                    <span class="glyphicon glyphicon-remove"></span>&nbsp;Cancel
                </button>

            </div>
        </div>
    </div>
}

