@model TPO.Model.RawMaterials.RawMaterialQCModel
@{
    ViewBag.Title = "Raw Material QC Testing";
}

@*<style>
    /*Move this to Site.CSS if all controls can be extended after demo*/
    input, select, textarea{
        max-width: 550px;
    }
</style>*@
@using (Html.BeginForm("index", "RawMaterialQC", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="form-group">
        <div class="col-md-6">
            <h2>Raw Material QC Testing</h2>
            <table style="white-space:nowrap;">
                <tr>
                    <td>@Html.LabelFor(m => m.RawMaterialCode, new { @class = "col-md-4 control-label raw-material-label" })</td>
                    <td>
                        <input id="RawMaterialQC" class="easyui-combogrid" style="width:250px" data-options="
                            panelWidth: 500,
                            idField: 'RawMaterialId',
                            textField: 'RawMaterialCode',
                            url: '/RawMaterialReceived/GetAllRawMaterialResult',
                            method: 'get',
                            columns: [[
                            {field:'RawMaterialCode',title:'Code',width:60},
                            {field:'RawMaterialName',title:'Description',width:100}
                            ]],onSelect: rawMaterialQC,
                            fitColumns: true">
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.LotCode, new { @class = "col-md-4 control-label  lot-id-label" })</td>
                    <td>
                        <div id="LotQC"><input id="RawMaterialLotQC" class="easyui-combogrid" style="width:250px" data-options="
                            panelWidth: 500,
                            idField: 'ID',
                            textField: 'LotNumber',
                            url: '/RawMaterialQC/GetLotIdsResult',
                            method: 'get',
                            columns: [[
                            {field:'RawMaterialID',title:'ID',width:60},
                            {field:'LotNumber',title:'Lot Code',width:100},
                            {field:'DateEntered',title:'Date Entered',formatter:formatDate, width:100}
                            ]],onSelect: rawMaterialLotQC,
                             fitColumns: true">
                        </div>
                    </td>
                    <td>
                        <input type="button"
                               value="Lot Not In List"
                               class="btn btn-default lot-id-label btn-shadow"
                               onclick="javascript: window.location.href = '@Url.Action("Create","RawMaterialReceived")';" />
                    </td>
                </tr>
                @*<tr>
                    <td>@Html.LabelFor(m => m.DateEntered, new { @class = "col-md-6 control-label date-entered-label" })</td>
                    <td>@Html.DropDownList("RawMaterialQCLotTest", null, new { @class = "form-control" })</td>
                    <td><input type="submit" value="New Test" name="Action" class="btn btn-default btn-not-in-list btn-shadow" /></td>
                </tr>*@                 
            </table>
        </div>
        @*<div style="display:none;">
            <input type="submit" value="Unlock Entered Fields" class="btn btn-default btn-unlock-entered-fields btn-shadow" /><br /><br />
        </div>*@
    </div>
}


<div id="testDIV">
    <table id="dg" class="easyui-datagrid" title="Click Row to see Details" style="height:250px"
           data-options="iconCls: 'icon-edit',
                                        singleSelect: true,
                                        toolbar: '#tb',
                                        url: '/RawMaterialQC/RawMaterialsGridByType',
                                        method: 'get',
                                        onClickRow: onClickRow,
                                        pagination: true,
                                        rownumbers: true">
        <thead>
            <tr>
                <th data-options="field:'ID'">ID</th>
                <th data-options="field:'PlantID'">PlantID</th>
                <th data-options="field:'QCTechUserID'">QCTechUserID</th>
                <th data-options="field:'VisualInspection'">VisualInspection</th>
                <th data-options="field:'SpecGrav'">SpecGrav</th>
                <th data-options="field:'ColorCoA'">ColorCoA</th>
                <th data-options="field:'ColorFS'">ColorFS</th>
                <th data-options="field:'MFCoA'">MFCoA</th>
                <th data-options="field:'MFFS'">MFFS</th>
                <th data-options="field:'ACCoA'">ACCoA</th>
                <th data-options="field:'ACFS'">ACFS</th>
                <th data-options="field:'MoistCoA'">MoistCoA</th>
                <th data-options="field:'MoistFS'">MoistFS</th>
                <th data-options="field:'CBCoA'">CBCoA</th>
                <th data-options="field:'CBFS'">CBFS</th>
                <th data-options="field:'BoxCarTested'">BoxCarTested</th>
                <th data-options="field:'Comments'">Comments</th>
                <th data-options="field:'DateEntered',formatter:formatDate">DateEntered</th>
                <th data-options="field:'EnteredBy'">EnteredBy</th>
                <th data-options="field:'LastModified',formatter:formatDate">LastModified</th>
                <th data-options="field:'ModifiedBy'">ModifiedBy</th>
                <th data-options="field:'RawMaterialReceivedID'">RawMaterialReceivedID</th>
            </tr>
        </thead>

    </table>

    @*<div id="tb">
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick=" append() ">Append</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick=" removeit() ">Remove</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" onclick=" accept() ">Accept</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true" onclick=" reject() ">Reject</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" onclick=" getChanges() ">GetChanges</a>
    </div>*@
</div>







<script>
    var editIndex = undefined;

    function endEditing() {
        if (editIndex == undefined) {
            return true;
        }
        if ($('#dg').datagrid('validateRow', editIndex)) {
            var ed = $('#dg').datagrid('getEditor', { index: editIndex, field: 'ID' });
            //var productname = $(ed.target).combobox('getText');
            //$('#dg').datagrid('getRows')[editIndex]['productname'] = productname;
            $('#dg').datagrid('endEdit', editIndex);
            editIndex = undefined;
            return true;
        } else {
            return false;
        }
    }

    function onClickRow(index) {
        if (editIndex != index) {
            if (endEditing()) {
                $('#dg').datagrid('selectRow', index)
                    .datagrid('beginEdit', index);
                editIndex = index;
            } else {
                $('#dg').datagrid('selectRow', editIndex);
            }
        }
    }

    function append() {
        if (endEditing()) {
            $('#dg').datagrid('appendRow', { status: 'P' });
            editIndex = $('#dg').datagrid('getRows').length - 1;
            $('#dg').datagrid('selectRow', editIndex)
                .datagrid('beginEdit', editIndex);
        }
    }

    function removeit() {
        if (editIndex == undefined) {
            return;
        }
        $('#dg').datagrid('cancelEdit', editIndex)
            .datagrid('deleteRow', editIndex);
        editIndex = undefined;
    }

    function accept() {
        if (endEditing()) {
            $('#dg').datagrid('acceptChanges');
        }
    }

    function reject() {
        $('#dg').datagrid('rejectChanges');
        editIndex = undefined;
    }

    function getChanges() {
        var rows = $('#dg').datagrid('getChanges');
        alert(rows.length + ' rows are changed!');
    }

    function formatDate(val, row) {
        if (val != undefined) {
            var date = new Date(parseInt(val.substr(6)));
            var day = date.getDate();
            var month = date.getMonth();
            var year = date.getFullYear();
            var finalDate = day + '/' + month + '/' + year;
            return finalDate;
        } else {
            return new Date();
        }
    }




    function rawMaterialQC(record) {
        var val = $("#RawMaterialQC").combogrid('getValue');
        $(".lot-id-label").css("display", "block");
        $('#LotQC').show();
        $('#RawMaterialLotQC').combogrid({
            queryParams: {
                ID: val
            }
        });
    }

    




    function rawMaterialLotQC(record) {
        var val = $("#RawMaterialLotQC").combogrid('getValue');
        $(".date-entered-label").css("display", "block");
        $("#RawMaterialQCLotTest").css("display", "block");
        $(".btn-not-in-list").css("display", "block");
        $(".btn-unlock-entered-fields").css("display", "none");
        $(".box-car-tested").css("display", "block");
        $(".txt-box-car-tested").css("display", "block");
        $(".txt-box-car-tested").css("display", "block");
        $(".entered-by").css("display", "block");
        $("#RawMaterialEnteredBy").css("display", "block");
        $(".comments").css("display", "block");
        $(".raw-material-qc-comments").css("display", "block");
        $(".txt-comments").css("display", "block");
        $(".btn-red-hold").css("display", "block");
        $(".last-modified").css("display", "block");
        $(".txt-last-modified").css("display", "block");
        $("#testDIV").show();

        $('#dg').datagrid({
            queryParams: {
                typeID: val
            }
        });

        //$.ajax({
        //    type: 'get',
        //    url: '/RawMaterialQC/GetTestIDs',
        //    data: { ID: $("#RawMaterialLotQC").combogrid('getValue') },
        //    success: function (testIds) {
        //        alert(testIds);
        //        //$("#testDIV").css("display", "block").css("width", "100%");

        //        //show hidden div
        //        //load grid data
        //        //on row click navigate to page


        //        //$.each(testIds, function (i, testItem) {
        //        //    $('#RawMaterialQCLotTest').append('<option value="' + testItem.Value + '">' + testItem.Text + '</option>');
        //        //});

        //    },
        //    error: function (ex) {
        //        alert('Failed to retrieve lot tests. ' + ex);
        //    }
        //});
        
        return false;
    }


    @*//Manipulate the display of controls*@
    $(document).ready(function () {
        var qs = "";
        $(".txt-last-modified").val();
        var winloc = window.location.href;
        var rawMatID = "";
        //alert(window.location.search.substr(1).split('?'));
        if (window.location.search.substr(1).split('?') == "") {
            $("#testDIV").hide();
            $('#LotQC').hide();
            $(".lot-id-label").css("display", "none");
            $(".date-entered-label").css("display", "none");
            $("#RawMaterialQCLotTest").css("display", "none");
            $(".btn-not-in-list").css("display", "none");
            $(".btn-unlock-entered-fields").css("display", "none");
            $(".box-car-tested").css("display", "none");
            $(".txt-box-car-tested").css("display", "none");
            $(".entered-by").css("display", "none");
            $("#RawMaterialEnteredBy").css("display", "none");
            $(".comments").css("display", "none");
            $(".txt-comments").css("display", "none");
            $(".btn-red-hold").css("display", "none");
            $(".last-modified").css("display", "none");
            $(".txt-last-modified").css("display", "none");
        }
    });

</script>











