@model TPO.DL.Models.Plant

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Plant</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateEntered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateEntered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnteredBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnteredBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Close", "Index")
</p>
